.box {
  height: 200px;
  width: 200px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}

h1,
p {
  background-color: red;
  text-align: center;
}

span {
  /* width: 1000px; */
  /* height: 200px; */
  display: block;
}

span.span1 {
  background-color: green;
}

span.span2 {
  background-color: blue;
}

button {
  width: 300px;
  height: 50px;
}
