h1 {
  /* font-size: 16px; */
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}

.btn {
  padding: 1em;
}

.btn.btn1 {
  font-size: 1rem;
}

.btn.btn2 {
  font-size: 2rem;
}

.btn.btn3 {
  font-size: 5rem;
}

.box {
  width: 50vw; /* browser */
  height: 100vh;
  background: #d3d3d3;
}

.box2 {
  background: blue;
  width: 50%;
  height: 100px;
}

.myBox {
  width: 200px;
  height: 200px;
  border: 1px solid black;
} */

/* .title {
  font-size: 3rem;
  letter-spacing: -0.02em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
